In [20]:
import pandas as pd 
import numpy as np
import copy

In [2]:
dsf = pd.read_csv('dsf.csv')
dsf.head()

/var/folders/lw/b1zjxc6900q8519sn9xkfhkm0000gn/T/ipykernel_77772/845049638.py:1: DtypeWarning: Columns (2,7) have mixed types. Specify dtype option on import or set low_memory=False.
  dsf = pd.read_csv('dsf.csv')

,PERMNO,DATE,CUSIP,PERMCO,SHRCD,ISSUNO,HEXCD,HSICCD,PRC,VOL,...,BIDLO,BID,ASK,NUMTRD,RET,RETX,SHROUT,CFACPR,CFACSHR,VWRETD
0,10000,19860106,68391610,7952,NaN,10396,3,3990,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.000138
1,10000,19860107,68391610,7952,10.0,10396,3,3990,-2.5625,1000.0,...,2.375,NaN,NaN,NaN,C,C,3680.0,1.0,1.0,0.013809
2,10000,19860108,68391610,7952,10.0,10396,3,3990,-2.5000,12800.0,...,2.375,NaN,NaN,NaN,-0.024390,-0.024390,3680.0,1.0,1.0,-0.020744
3,10000,19860109,68391610,7952,10.0,10396,3,3990,-2.5000,1400.0,...,2.375,NaN,NaN,NaN,0.000000,0.000000,3680.0,1.0,1.0,-0.011219
4,10000,19860110,68391610,7952,10.0,10396,3,3990,-2.5000,8500.0,...,2.375,NaN,NaN,NaN,0.000000,0.000000,3680.0,1.0,1.0,0.000083

In [4]:
df = dsf[dsf.DATE >= 20180101]
df

,PERMNO,DATE,CUSIP,PERMCO,SHRCD,ISSUNO,HEXCD,HSICCD,PRC,VOL,...,BIDLO,BID,ASK,NUMTRD,RET,RETX,SHROUT,CFACPR,CFACSHR,VWRETD
77677,10026,20180102,46603210.0,7976,11.0,10433,3,2052,149.17999,190618.0,...,147.85001,149.17999,149.42000,1036.0,-0.017454,-0.017454,18668.0,1.0,1.0,0.008496
77678,10026,20180103,46603210.0,7976,11.0,10433,3,2052,147.69000,63693.0,...,146.68359,147.41000,147.69000,1283.0,-0.009988,-0.009988,18668.0,1.0,1.0,0.005866
77679,10026,20180104,46603210.0,7976,11.0,10433,3,2052,149.73000,127552.0,...,147.77000,149.45000,149.72000,1138.0,0.013813,0.013813,18668.0,1.0,1.0,0.004005
77680,10026,20180105,46603210.0,7976,11.0,10433,3,2052,148.30000,44647.0,...,148.25999,148.28999,148.39000,745.0,-0.009550,-0.009550,18668.0,1.0,1.0,0.005816
77681,10026,20180108,46603210.0,7976,11.0,10433,3,2052,148.41000,55014.0,...,146.20821,148.21001,148.34000,990.0,0.000742,0.000742,18668.0,1.0,1.0,0.001822
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89137853,93436,20201224,88160R10,53453,11.0,66252,3,9999,661.77002,22813214.0,...,641.00000,661.62000,661.78003,465870.0,0.024444,0.024444,947901.0,1.0,1.0,0.002332
89137854,93436,20201228,88160R10,53453,11.0,66252,3,9999,663.69000,32232732.0,...,660.79999,663.59998,663.77002,631681.0,0.002901,0.002901,947901.0,1.0,1.0,0.003870
89137855,93436,20201229,88160R10,53453,11.0,66252,3,9999,665.98999,22867542.0,...,655.00000,665.82001,665.97998,466884.0,0.003465,0.003465,947901.0,1.0,1.0,-0.003649
89137856,93436,20201230,88160R10,53453,11.0,66252,3,9999,694.78003,42766263.0,...,668.36029,694.64001,694.78003,767565.0,0.043229,0.043229,947901.0,1.0,1.0,0.003281
89137857,93436,20201231,88160R10,53453,11.0,66252,3,9999,705.66998,49544141.0,...,691.12000,705.21002,705.50000,917115.0,0.015674,0.015674,947901.0,1.0,1.0,0.003556

In [21]:
df_an = copy.deepcopy(df)
df_an = df_an[['PERMNO', 'DATE', 'RET']]
df_an.rename({'DATE': 'ANNDATS'}, inplace=True, axis=1)
df_an

          PERMNO   ANNDATS        RET
77677      10026  20180102  -0.017454
77678      10026  20180103  -0.009988
77679      10026  20180104   0.013813
77680      10026  20180105  -0.009550
77681      10026  20180108   0.000742
...          ...       ...        ...
89137853   93436  20201224   0.024444
89137854   93436  20201228   0.002901
89137855   93436  20201229   0.003465
89137856   93436  20201230   0.043229
89137857   93436  20201231   0.015674

[5711711 rows x 3 columns]

In [6]:
df_permno = pd.read_csv('permno_to_tickers.csv')
df_permno

     TICKER   PERMNO    NCUSIP     sdate       edate  SCORE
0      0001  14392.0  26878510  20140220  20190522.0      1
1      0001      NaN       NaN  20190620         NaN      6
2      000R  14378.0  14163310  20140220  20200210.0      1
3      000V  14423.0  15117E10  20140320  20160322.0      1
4      000V  14423.0  28249U10  20160414  20220331.0      1
...     ...      ...       ...       ...         ...    ...
5138     ZY  40539.0  98919510  19771215  19890620.0      1
5139     ZY  40539.0  87254010  19890720  20220331.0      1
5140   ZYNE  15646.0  98986X10  20150917  20220331.0      1
5141   ZYNX      NaN       NaN  20050714  20080716.0      6
5142   ZYNX  18418.0  98986M10  20190212  20220331.0      1

[5143 rows x 6 columns]

In [14]:
df_earnings = pd.read_csv('ActualEarningsData20182022.csv')
df_earnings.drop('TICKER', inplace=True, axis=1)
df_earnings.rename({'OFTIC': 'TICKER'}, inplace=True, axis=1)
df_earnings

,TICKER,CUSIP,CNAME,PENDS,MEASURE,PDICITY,ANNDATS,VALUE
0,AA,01387210,ALCOA CORP,20190331,EPS,QTR,20190417,-0.23
1,AA,01387210,ALCOA CORP,20220331,EPS,QTR,20220420,3.06
2,AA,01387210,ALCOA CORP,20190630,EPS,QTR,20190717,-0.01
3,AA,01387210,ALCOA CORP,20171231,EPS,QTR,20180117,1.04
4,AA,01387210,ALCOA CORP,20180930,EPS,QTR,20181017,0.63
...,...,...,...,...,...,...,...,...
25840,ZYNE,98986X10,ZYNERBA PHARMS,20181231,EPS,QTR,20190311,-0.44
25841,ZYNE,98986X10,ZYNERBA PHARMS,20180930,EPS,QTR,20181108,-0.47
25842,ZYNE,98986X10,ZYNERBA PHARMS,20180630,EPS,QTR,20180802,-0.89
25843,ZYNE,98986X10,ZYNERBA PHARMS,20180331,EPS,QTR,20180508,-0.91
25844,ZYNE,98986X10,ZYNERBA PHARMS,20171231,EPS,QTR,20180312,-0.60

In [25]:
df_pe = pd.merge(df_permno, df_earnings, on='TICKER', how='left')
df_pe = df_pe[['TICKER', 'PERMNO', 'ANNDATS']]
df_pe.dropna(inplace=True)

In [26]:
df_merged = pd.merge(df_pe, df_an, on=['PERMNO', 'ANNDATS'], how='left')
df_merged

      TICKER   PERMNO     ANNDATS        RET
0         AA  24643.0  20190417.0  -0.036750
1         AA  24643.0  20220420.0        NaN
2         AA  24643.0  20190717.0  -0.018619
3         AA  24643.0  20180117.0   0.004275
4         AA  24643.0  20181017.0   0.014872
...      ...      ...         ...        ...
35384   ZYNE  15646.0  20190311.0   0.016736
35385   ZYNE  15646.0  20181108.0   0.061462
35386   ZYNE  15646.0  20180802.0  -0.107477
35387   ZYNE  15646.0  20180508.0  -0.131274
35388   ZYNE  15646.0  20180312.0   0.152079

[35389 rows x 4 columns]